.form-date {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.date {
  border-radius: 4px;
  background-color: #f2fcff;
  padding: 20px;
  font-size: 16px;
}

.date:disabled {
  opacity: 0.3;
  cursor: default;
}

/* Colors and Styles */
.date--primary {
  border: solid 1px #007bff;
  color: #007bff;
  &:active,
  &:focus {
    color: #007bff;
    box-shadow: rgba(91, 97, 154, 0.248) 0px 8px 24px;
  }
  &::placeholder {
    color: #69b1ff;
  }
}

.date--secondary {
  border: solid 1px #6c757d;
  color: #6c757d;
  &:active,
  &:focus {
    color: #6c757d;
    box-shadow: rgba(127, 125, 125, 0.248) 0px 8px 24px;
  }
  &::placeholder {
    color: #e4e4e4;
  }
}

.date--error {
  border: solid 1px #f01818;
  color: #f01818;
  &:active,
  &:focus {
    box-shadow: rgba(230, 132, 132, 0.248) 0px 8px 24px;
  }
  &::placeholder {
    color: #f98484;
  }
}

.date--label {
  font-size: 18px;
  font-weight: 400;
}