@import "../../../styles/layout.scss"; 

.button-layout {
  @extend %row-centered;
  justify-content: space-between;
  margin-top: 4rem;
  button {
    padding: .6rem;
  }
  div {
    @include layout-row(.75rem, center);
    button {
      padding: .6rem 2.2rem;
    }
  }
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form {
  width: 50%;
  margin-right: 5rem;
}
