@import "../../../styles/layout.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 168px;
  width: 30%;
  &--column {
    @include layout-column(38px);
    height: fit-content;
    margin-bottom: 26px;
  }
  &--input {
    height: 56px;
  }
  &--link {
    align-self: flex-end;
    margin-top: 20px;
  }
  &--button {
    min-height: 46px;
    font-size: 18px;
  }
}

.logo {
  align-self: center;
  margin-bottom: 81px;
  width: 70%;
  height: auto;
}

#remember {
  @extend %font-1;
  @include layout-row(7px, center);
  color: $light-text-color;
  margin-bottom: 45px;
}
