%font-1 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
}

%font-2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}

%form-field-font {
  @extend %font-1;
  font-weight: 400;
  line-height: 18px;
}

%breadcrumb-font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
