@import "colors.scss";

html {
  font-family: "Roboto";
  font-style: normal;
  background-color: $dark-background-color;
}
body {
  margin: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message--error {
  font-weight: 400;
  color: #f01818;
}

th,
tr,
td,
td button {
  color: white !important; // TODO remove important clause (is a bad plactice) insted search about how can we overwrite the MUI styles of the table
}
