@import "colors.scss";
@import "fonts.scss";

h1 {
  @extend %font-2;
  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  display: table-caption;
  color: $light-text-color;
  margin-top: 2rem;
}

h2 {
  @extend %font-1;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5rem;
  text-transform: uppercase;
  display: table-caption;
  color: $light-text-color;
  margin-top: 2rem;
}
