%row-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin layout-row($gap, $align){
  display: flex;
  flex-direction: row;
  gap: $gap;
  align-items: $align;
}

@mixin layout-column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin background($image-name) {
  .background {
    background-image: url("../assets/backgrounds/#{$image-name}");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
