@import "../../../styles/forms.scss";
@import "../../../styles/layout.scss";


textarea {
  @extend %form-field;
  width: fit-content;
  &:hover {
    &::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
      color: $primary-color;
    }
    &::-moz-placeholder {           /* Firefox 19+ */
      color: $primary-color;
    }
    &:-ms-input-placeholder {       /* IE 10+ */
      color: $primary-color;
    }
    &:-moz-placeholder {            /* Firefox 18- */
      color: $primary-color;
    }
  }
}

.textarea {
  @include layout-column(7px);
}

.textarea--primary {
  @extend %form-field;
}

.textarea--error {
  @extend %form-field--error;
}

@include form-field--label();
