@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.btn {
  font-family: "Roboto";
  font-style: normal;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
}

.btn:hover,
.btn:active {
  transform: translateY(-1px);
}

.btn:disabled {
  opacity: 0.3;
  cursor: default;
}

/* Button Colors and Styles */
.btn--primary {
  font-weight: 700;
  background-color: $primary-color;
  color: #000000;
}

.btn--secondary {
  font-weight: 500;
  background-color: #3d3d3d;
  color: #c4c4c4;
}

.btn--success {
  background-color: #28a745;
  color: #000d10;
  &:hover,
  &:focus {
    border: #28a745 2px solid;
    background-color: #f2fcff;
  }
}

.btn--danger {
  background-color: #dc3545;
  color: #000d10;
  &:hover,
  &:focus {
    border: #dc3545 2px solid;
    background-color: #f2fcff;
  }
}

.btn--warning {
  background-color: #ffc107;
  color: #000d10;
  &:hover,
  &:focus {
    border: #ffc107 2px solid;
    background-color: #f2fcff;
  }
}

.btn--link {
  @extend %font-1;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
  color: $primary-color;
  text-decoration: underline;
  &:hover,
  &:focus {
    border: sepia($primary-color) 2px solid;
  }
}

/* Sizes */

.btn--medium {
  padding: 5px 40px;
  font-size: 18px;
}

.btn--small {
  padding: 5px 10px;
  font-size: 12px;
}
