@import "../../../styles/layout.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";


.breadcrumbs {
  @extend %row-centered;
  gap: 0.3em;
}

.link {
  background-color: transparent;
  text-decoration: none;
  @extend %breadcrumb-font;
  color: $light-text-color;
  &:hover {
    color: $primary-color;
  }

  &:last-child {
    color: $primary-color;
  }
}

.slash {
  margin-left: 15px;
  margin-right: 5px;
  color: $light-text-color;
  @extend %breadcrumb-font;
  font-size: 16px;
}
