@import "../../../styles/fonts.scss";
@import "../../../styles/layout.scss";

.user-profile {
  @extend %row-centered;
  @extend %font-1;
  font-weight: 700;
  line-height: 22px;
  text-align: right;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
}

.profile-img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #C4C4C4;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.initials {
  width: 100%;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

.material-icons {
  color: white;
  margin-right: 25px;
}
