@import "../../../styles/forms.scss";
@import "../../../styles/layout.scss";

select {
  @extend %form-field;
  flex-grow: 1;
}

option {
  color: $dark-text-color;
}

.dropdown {
  @include layout-column(7px);
  // @extend %form-field;
  flex-grow: 1;
  width: 100%;
}
