@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/layout.scss";

.table--container {
  width: 100%;
  overflow: auto;
}

.table {
  &--link {
    color: $light-text-color;
  }
  &--header {
    font-size: 16px !important;
    color: $light-text-color !important;
    text-transform: uppercase;
    font-weight: 900 !important;
  }
  &--row{
    height: fit-content !important;
    padding: 0 !important;
  }
  &--data {
    @extend %font-1;
    font-size: 16px !important;
    font-weight: 400 ;
    color: $light-text-color !important;
    margin: 0 !important;
  }
}

.checkbox {
  color: $light-text-color !important;
  &:checked {
    color: $light-text-color !important;
  }
}

.icon {
  color: $light-text-color;
}

.table-row-config {
  @include layout-row(30px, center);
  color: $light-text-color;
  justify-content: flex-end;
  margin-top: 1rem;
}

.page-numeric {
  border-bottom: 0 !important;
  padding: 0 !important;
  width: 2rem;
}
