@import "../../../styles/headers.scss";
@import "../../../styles/layout.scss";

.rescues {
  &--filters {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  &--filter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border-radius: 0;    
    background-color: transparent;
    color: $light-text-color;
    width: 10rem;
    height: 2.5rem;
  }
  &--filter:focus,
  &--filter:hover {
    color: $light-text-color;
    border: 0;
    font-weight: 800;
  }
  &--filter-active,
  &--filter-active:hover,
  &--filter-active:focus {
    color: $primary-color;
    border: 0;
    border-bottom: 3px solid;
    border-top: 0;
    font-weight: 800;
  }
  &--button {
    @include layout-row(4px, center);
    @extend %font-1;
    font-weight: 700 !important;
    justify-content: center;
    padding: 11px 25px;
  }
}

.page-layout {
  position: relative;
  margin: 45px 60px;
}
